/* GENERICS  */

img {
    max-width: 100%;
}

/* HEADER  */

#top-logo>img {
    max-width: 150px;
}

header nav li {
    margin-left: 10px;
}

header .dropdown-toggle::after {
    content: url(../img/chevron-down-solid.svg);
    width: 15px;
    border: 0;
    vertical-align: middle;
}

li:hover .dropdown-toggle::after {
    content: url(../img/chevron-down-solid-hover.svg);
}

#search {
    width: 30px;
    margin-right: 1rem;
}

.jumbotron-bg-img {
    background-image: url(../img/jumbo-bg.png);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.jumbotron-text>img {
    width: 60%;
    min-width: 200px;
}

#jumbotron button {
    background-color: hsl(15deg 86% 43%);
}

/* HERO PRODUCT  */

#hero-product {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
}

#hero-product button {
    background-color: hsl(15deg 86% 43%);
}

#hero-product img {
    width: 60%;
    max-width: 300px;
}

/* PLAYSTATION PLUS */

#ps-plus-logo {
    min-width: 250px;
}

/* PS NOW  */

#ps-now {
    background-color: hsl(230deg 46% 16%);
}

#ps-now-logo {
    min-width: 250px;
}