/* GENERICS  */

img {
    max-width: 100%;
}

main {
    padding-top: 136px;
}

/* HEADER  */

#top-logo>img {
    max-width: 150px;
}

#brand-logo {
    filter: invert(25%) sepia(97%) saturate(1945%) hue-rotate(193deg) brightness(94%) contrast(101%);
}

header nav li {
    margin-left: 10px;
}

header .dropdown-toggle::after {
    content: url(../img/chevron-down-solid.svg);
    width: 15px;
    border: 0;
    vertical-align: middle;
}

li:hover .dropdown-toggle::after {
    content: url(../img/chevron-down-solid-hover.svg);
}

#search {
    width: 30px;
    margin-right: 1rem;
}

/* JUMBOTRON  */

.jumbotron-bg-img {
    background-image: url(../img/jumbo-bg.png);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.jumbotron-text>img {
    width: 60%;
    min-width: 200px;
}

#jumbotron button {
    background-color: hsl(15deg 86% 43%);
}

/* HERO PRODUCT  */

#hero-product {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
}

#hero-product button {
    background-color: hsl(15deg 86% 43%);
}

#hero-product img {
    width: 60%;
    max-width: 300px;
}

/* PLAYSTATION PLUS */

#ps-plus-logo {
    min-width: 250px;
}

/* PS NOW  */

#ps-now {
    background-color: hsl(230deg 46% 16%);
}

#ps-now-logo {
    min-width: 250px;
}

/* SOCIAL  */

#social img {
    max-width: 200px;
}

/* FOOTER  */

footer {
    background-color: hsl(214deg 100% 31%);
}

#footer-ps-logo {
    filter: invert(99%) sepia(1%) saturate(11%) hue-rotate(181deg) brightness(102%) contrast(100%);
    width: 150px;
}

#language-globe {
    width: 20px;
    margin-right: 10px;
}

#footer-sony-logo {
    max-width: 150px;
    margin-top: 50px;
}

footer ul li {
    list-style: none;
}